// fonts
$fnt-play: 'Play', sans-serif;
$fnt-abel: 'Abel', sans-serif;
// colors
$light-color: hsl(199 24% 92%);
$dark-color: hsl(227 55% 12%);
$red-color: hsl(360 67% 51%);
// sizes
$svh: 100svh;
$sz: 100%;
$box-size: 6rem;
$pd: 1.125rem;
$rd: .5rem;