:root {
  /* fonts */
  --fnt-play: 'Play', sans-serif;
  --fnt-abel: 'Abel', sans-serif;
  /* colors */
  --light-color: hsl(199 24% 92%);
  --dark-color: hsl(227 55% 12%);
  --red-color: hsl(360 67% 51%);
  --box-indicator: hsl(49 19% 84%);
  /* sizes */
  --svh: 100svh;
  --sz: 100%;
  --box-size: 6rem;
  --pd: 1.125rem;
  --rd: .5rem;
}

*,
*::before,
*::after {
  padding: 0;
  box-sizing: border-box;
}

/* reset default options */
html,
body { margin: 0 }

:is(a, h1, p, button, span) {
  overflow-wrap: break-word
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--rd);
  border: 0;
  color: var(--dark-color);
  background-color: var(--light-color);
  &:hover { cursor: pointer }
  &:active { transform: scale(.98) }
}

/* remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

body {
  color: var(--light-color);
  background-color: var(--dark-color);
  --webkit-font-smoothing: antialised;
  --moz-osx-font-smoothing: grayscale
}

/* flexbox */
.box,
.header,
.container,
.button--container,
.info--container,
.game--container,
.close--modal {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container,
.game--container { flex-direction: column; }

.heading { text-transform: uppercase; }

.game--btn,
.info,
.close--modal p { text-transform: capitalize; }

.container {
  height: var(--svh);
  position: relative;
  .header {
    width: var(--sz);
    .heading {
      font-family: var(--fnt-play);
      font-size: calc(var(--pd) * 2);
    }
  }

  .game--container {
    .grid {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: calc(var(--rd) * .45);
      .box {
        width: var(--box-size);
        height: var(--box-size);
        font-size: calc(var(--pd) * 4.75);
        font-weight: 500;
        color: var(--light-color);
        border-radius: calc(var(--rd) * .35);
        border: .5vmin solid var(--light-color);
        background-color: transparent;
        &:active { transform: scale(1) }
        &:first-child,
        &:nth-child(2),
        &:nth-child(3) { border-top: none }
        &:nth-child(3n + 1) { border-left: none }
        &:nth-child(3n + 3) { border-right: none }
        &:nth-child(7),
        &:nth-child(8),
        &:last-child { border-bottom: none }
      }
    }

    .button--container {
      margin-block-start: calc(var(--pd) * 2.5);
      position: relative;
      .game--btn {
        width: 12rem;
        padding-block: 1rem;
        padding-inline: var(--pd);
        position: absolute;
        font-size: calc(var(--pd) + 1vmin);
        font-family: var(--fnt-play);
        font-weight: 800;
      }
      .reset { display: none }
    }
  }

  .modal--container {
    display: none;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    place-items: center;
    position: absolute;
    background-color: var(--red-color);
    
    .modal {
      grid-row: 2;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: auto;
      width: calc(var(--sz) * .95);
      gap: 0;
      box-shadow: 0 0 .75rem 0 rgba(0, 0, 0, .75);
      border-radius: var(--rd);
      .close--modal {
        grid-column: 2;
        width: 4.5rem;
        z-index: 2;
        .close {
          width: 3rem;
          background-color: transparent;
          & p { font-size: clamp(1vw, 2vw + .75rem, 1rem) }
          .icon {
            font-size: clamp(1vw, 2vw + 1rem, 3rem);
            color: var(--light-color)
          }
        }
      }
      .info--container {
        gap: 0 calc(var(--pd) * 2);
        .info { 
          font-family: var(--fnt-play);
          & span {
            font-family: var(--fnt-abel);
            text-transform: lowercase;
          }
        }
        .info,
        .icon { font-size: clamp(5vw, 8vw + 1rem, 12rem) }
        .icon { color: #fdcb6e }
      }
    }
    &.active { 
      display: grid;
      place-content: center;
      width: var(--sz);
      height: var(--sz)
    }
  }
}